* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family:Consolas, Menlo, Monaco, Consolas, 'Courier New', monospace;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background: #2c3e50;
color: #fff;
}

.container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-color: red;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 3rem;
}

.addInput{
  font-size: 1rem;
  font-weight: bold;
  font-family: Candara, 'Courier New', monospace;
  margin-right: 0.2rem;
}

.addButton{
  font-weight: bold;
  font-size: 1rem;
}

ul {
  list-style: none;
  margin-top: 2rem;
}

.hideElement {
  display: none;
}

.showElement{
  display: inline-block;
}

.todoList span{
  margin-right: 1rem;
  font-size: 1.2rem;
}

.todoList input {
  margin-right: 4px;
  font-size: 1.2rem;
}

.todoList button{
  margin-right: 4px;
  margin-top: 6px;
  font-size: 1rem;
}

.todoList button:last-child{
  margin-right: 0;
}

